<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Dariya Grishina">
    <title>Dasha's project</title>

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'catalog/bootstrap-3.3.4/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'catalog/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
